<!-- publications/templates/publications/contact.html -->

{% extends 'publications/base.html' %}
{% load static %}

{% block content %}
    <div class="contact-page-container">
        
        <div class="contact-header">
            <h1>Get In Touch</h1>
            <p>We'd love to hear from you. Reach out to us through any of the channels below.</p>
        </div>

        <div class="contact-content-centered">
            
            <div class="contact-info">
                <h3>Contact Information</h3>
                
                <!-- These are now clickable mailto links -->
                <p><strong>General Inquiries:</strong> <a href="mailto:info@businessmatters.co.ke">info@businessmatters.co.ke</a></p>
                <p><strong>Editorial Team:</strong> <a href="mailto:editorial@businessmatters.co.ke">editorial@businessmatters.co.ke</a></p>
                <p><strong>Advertising:</strong> <a href="mailto:advertising@businessmatters.co.ke">advertising@businessmatters.co.ke</a></p>

                <div class="social-media">
                    <h3>Follow Us</h3>
                    <!-- Replace '#' with your actual social media URLs -->
                    <a href="https://www.facebook.com/profile.php?id=61582788564064" target="_blank" class="social-icon facebook">
                        <img src="{% static 'img/fb.png' %}" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/businessmatterske/" target="_blank" class="social-icon instagram">
                        <img src="{% static 'img/ig.png' %}" alt="Instagram">
                    </a>
                    <a href="https://x.com/BusinessM31511" target="_blank" class="social-icon twitter">
                         <img src="{% static 'img/x.png' %}" alt="Twitter">
                    </a>
                </div>
            </div>

        </div> <!-- End of contact-content-centered -->

    </div>
{% endblock %}