{% extends "publications/base.html" %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h1>Login to Your Account</h1>
        <p>Welcome back! Please enter your details.</p>
        
        <form class="login-form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-btn">Log In</button>
            <p class="auth-links">
                <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}