{% extends "publications/base.html" %}
{% load i18n socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="login-container">
    <div class="split-login-box"> 
        <div class="social-login-column">
            <h1>Sign Up or Log In with:</h1>
            
           <a href="{% provider_login_url 'google' %}" class="google-btn">

             <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google logo">
                          Google
            </a>
        </div>
    </div>
</div>
{% endblock content %}