{% extends "publications/base.html" %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h1>Create a New Account</h1>
        <p>Join us to access all publications.</p>
        
        <form class="login-form" id="signup_form" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-btn">Sign Up</button>
            <p class="auth-links">
                Already have an account? <a href="{% url 'account_login' %}">Log In</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}